@media screen and (max-width:992px) {
    .offcanvas-width{
        width: 85% !important;
    }
    .info{
        margin: 20px 0;
    }
}

@media screen and (max-width:768px) {
    .header-nav{
        display: none !important;
    }
}

@media (max-width: 991.98px){
    .task-table {
        display: none;
    }
}
